@import 'vars';





.header {
    background: $gradient;
    position: relative;
    z-index: 1001;
    @media screen and (max-width: 1300px) {
       padding: 8px 4px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    &__nav-block {

        @media screen and (max-width: 1300px) {
            display: none;
        }

        .nav {
            display: flex;

            &__item {
                position: relative;
                transition: 300ms;

                a {
                    text-transform: uppercase;
                    color: #fff;
                    opacity: .5;
                    padding: 2em 1em;
                    display: inline-block;
                    text-decoration: none;
                    font-size: 14px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0%;
                    height: 2px;
                    background-color: #fff;
                    transition: 300ms;
                }

                &:hover {
                    a {
                        opacity: 1;
                    }

                    .sub-menu {
                        display: block;

                    }

                    &::before {
                        width: 50%;
                    }
                }

                &.has-children {
                    .nav__item-link {
                        padding-right: 1em;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            right: -.5em;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 10px;
                            height: 8px;
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='10px' height='8px' viewBox='0 0 10 8' enable-background='new 0 0 10 8' xml:space='preserve'%3e%3cpath fill='%23FFFFFF' d='M0.7,0h8.6c0.6,0,0.9,0.6,0.6,1.1L5.6,7.7c-0.3,0.4-0.9,0.4-1.2,0L0.1,1.1C-0.2,0.6,0.2,0,0.7,0z'/%3e%3c/svg%3e");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-color: transparent;
                        }
                    }

                }

                &:not(:last-child) {
                    margin-right: 25px;
                }

                .sub-menu {
                    position: absolute;
                    top: 85%;
                    left: 50%;
                    transform: translateX(-50%);
                    box-shadow: $shadow;
                    transition: 300ms;
                    border-radius: 8px;
                    background-color: #fff;
                    overflow: hidden;
                    display: none;
                    padding: .5em 0;

                    &__item {
                        color: $blue;
                        padding: 0.5em 1.5em;
                        display: block;

                        &:hover {
                            background: $gradient;
                            color: #fff;
                        }
                    }



                }
            }
        }
    }




    &__right-block {
        display: flex;
        align-items: center;

        .user-account {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='12px' height='12px' viewBox='0 0 12 12' enable-background='new 0 0 12 12' xml:space='preserve'%3e%3cpath fill='%23FFFFFF' d='M6,6.9c-1.9,0-3.4-1.5-3.4-3.4C2.6,1.5,4.1,0,6,0s3.4,1.5,3.4,3.4C9.4,5.3,7.9,6.9,6,6.9z M6,1.3 c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2s2.2-1,2.2-2.2S7.2,1.3,6,1.3z M12,11.4c0-2.2-1.8-4.1-4-4.1H4c-2.2,0-4,1.8-4,4.1 C0,11.7,0.3,12,0.6,12s0.6-0.3,0.6-0.6c0-1.6,1.2-2.8,2.8-2.8h4c1.5,0,2.8,1.3,2.8,2.8c0,0.3,0.3,0.6,0.6,0.6S12,11.7,12,11.4z'/%3e%3c/svg%3e");
            background-size: 60%;
        }


    }



    &__left-block {
        display: flex;
        align-items: center;
        .logo {
            margin-right: 20px;
        }


        .weather-widget {
            margin-right: 20px;
            color: #fff;
            display: flex;
            align-items: center;
            &__value {
                margin-right: 5px;
            }
            @media screen and (max-width: 410px){
                display: none;
            }   
        }


    }




}

.select-menu {
    position: relative;
    z-index: 1002 !important;

    .ui-menu {
        border-radius: 8px !important;
        background-color: #fff;
        border: none !important;
        box-shadow: $shadow;

        .ui-menu-item {
            .ui-menu-item-wrapper {
                padding: 0.5em 1em;

                &:hover {
                    background: $gradient;
                    border: none !important;
                }

                &.ui-state-active {
                    background: $gradient;
                    border: none !important;
                }

            }
        }
    }
}

.burger-btn {
    height: 20px;
    width: 25px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.40625 1.71875H10.5938M1.40625 8.71875H10.5938H1.40625ZM1.40625 5.21875H10.5938H1.40625Z' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;

    @media screen and (min-width: 1301px) {
        display: none;
    }
}

.header-btn {
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}


.select-input-wrapper {
    box-shadow: $shadow-light;
    border-radius: 8px;

    .select-input__btn {
        background-color: transparent;
        border: none;
        color: #fff;
        width: auto;
        width: 130px !important;
        &:hover, &:focus {
            background-color: transparent;
            color: #fff;
            outline: none !important;
            border: none;
        }

        &:focus .select-input__icon,
        &:hover .select-input__icon {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='10px' height='8px' viewBox='0 0 10 8' enable-background='new 0 0 10 8' xml:space='preserve'%3e%3cpath fill='%23FFFFFF' d='M0.7,0h8.6c0.6,0,0.9,0.6,0.6,1.1L5.6,7.7c-0.3,0.4-0.9,0.4-1.2,0L0.1,1.1C-0.2,0.6,0.2,0,0.7,0z'/%3e%3c/svg%3e") !important;
        }
    }

    .select-input__icon {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='10px' height='8px' viewBox='0 0 10 8' enable-background='new 0 0 10 8' xml:space='preserve'%3e%3cpath fill='%23FFFFFF' d='M0.7,0h8.6c0.6,0,0.9,0.6,0.6,1.1L5.6,7.7c-0.3,0.4-0.9,0.4-1.2,0L0.1,1.1C-0.2,0.6,0.2,0,0.7,0z'/%3e%3c/svg%3e") !important;
        background-color: transparent;
        background-size: contain;
        background-position: center;
        width: 10px;
        height: 10px;
        float: none;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);

    }

 
   

}


.header-mob-block {
    
    padding: 1em 0;
    @media screen and (min-width: 651px) {
        display: none;
        
    }
    
}



.search {
    position: relative;
    height: 30px;
    display: flex;
    overflow: hidden;



    &__btn {

        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='12px' height='12px' viewBox='0 0 12 12' enable-background='new 0 0 12 12' xml:space='preserve'%3e%3cpath fill='%23FFFFFF' d='M11.8,10.9L9.2,8.3c0.7-0.9,1.1-2,1.1-3.1C10.3,2.3,8,0,5.1,0C2.3,0,0,2.3,0,5.1c0,2.8,2.3,5.1,5.1,5.1 c1.2,0,2.3-0.4,3.2-1.1l2.6,2.7c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.4-0.2C12.1,11.6,12.1,11.2,11.8,10.9z M5.1,9 C3,9,1.3,7.3,1.3,5.1C1.3,3,3,1.3,5.1,1.3C7.3,1.3,9,3,9,5.1C9,6,8.7,6.7,8.3,7.4C8,7.7,7.7,8,7.4,8.3C6.8,8.7,6,9,5.1,9z'/%3e%3c/svg%3e");
        background-size: 60%;


    }


    &__input {
        width: 175px;
        height: 100%;
        padding: 0;
        border: none;
        transition: 300ms;
        border-radius: 8px;
        background-color: transparent;
        margin-right: 10px;
        padding: 0.5em;
        color: $black;

        &::placeholder {
            color: $white-light;

        }

        &:focus,
        &:active {
            outline: none;
            background-color: #fff;
        }
    }

    &.search-desktop {
        margin-right: 10px;
        @media screen and (max-width: 650px) {
            display: none;
        }
    }

    &.search-mob {
      
        .search__input {
            background-color: #fff;
            width: 100%;
            padding-left: 2.5em;

            
        }

        .search__btn {
            position: absolute;
            left: 0;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' id='Слой_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='12px' height='12px' viewBox='0 0 12 12' enable-background='new 0 0 12 12' xml:space='preserve'%3e%3cpath fill='%23777' d='M11.8,10.9L9.2,8.3c0.7-0.9,1.1-2,1.1-3.1C10.3,2.3,8,0,5.1,0C2.3,0,0,2.3,0,5.1c0,2.8,2.3,5.1,5.1,5.1 c1.2,0,2.3-0.4,3.2-1.1l2.6,2.7c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.3-0.1,0.4-0.2C12.1,11.6,12.1,11.2,11.8,10.9z M5.1,9 C3,9,1.3,7.3,1.3,5.1C1.3,3,3,1.3,5.1,1.3C7.3,1.3,9,3,9,5.1C9,6,8.7,6.7,8.3,7.4C8,7.7,7.7,8,7.4,8.3C6.8,8.7,6,9,5.1,9z'/%3e%3c/svg%3e");
        }
        
        
    }


}

