@import 'vars';

body {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.3;
    color: $black;
    background-color: $lite-gray;

}


.container {
    max-width: 1440px;
}

.m-title {
    font-size: 22px;
    text-transform: uppercase;
}

.title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-block {
    box-shadow: $shadow;
    border-radius: 8px;
    border: 1px solid $lite-gray;

    padding: 0.5em;
    background-color: #fff;
}

.page-block-np {
    box-shadow: $shadow;
    border-radius: 8px;
    border: 1px solid $lite-gray;
    margin-bottom: 1em;
    padding: 0;
    background-color: #fff;

}

.text-center {
    text-align: center;
}

.text-red {
    color: $red;
}

.text-green {
    color: $green;
}

.go-btn {
    color: $blue;
    padding-right: 2em;
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::before {
        content: '';
        width: 20px;
        height: 6px;
        position: absolute;
        right: 0;
        top: calc(50% - 3px);
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20px' height='6px' viewBox='0 0 20 6' enable-background='new 0 0 20 6' xml:space='preserve'%3e%3cpath fill='%235577FF' d='M20,3c0,0.1,0,0.3-0.2,0.4l-0.1,0.2l-2.3,2.4C17.3,6,17.2,6,17,6c-0.1,0-0.3,0-0.4-0.1 c-0.2-0.2-0.2-0.5,0-0.7l1.6-1.6H0v-1h18.3l-1.6-1.6c-0.1-0.1-0.1-0.2-0.1-0.4c0-0.1,0-0.3,0.1-0.4c0.2-0.2,0.5-0.2,0.7,0l2.3,2.4 l0.1,0.2C20,2.7,20,2.9,20,3z'/%3e%3c/svg%3e");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:hover,
    &:focus {
        &::before {
            animation: arrowMove 1000ms infinite ease-in-out;


        }
    }
}

@keyframes arrowMove {
    25% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}

.big-btn {
    color: $red;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    background-color: #fff;
    padding: 1em;
    text-align: center;
    border-radius: 8px;
    box-shadow: $shadow;
    display: inline-block;
    text-decoration: none;
    border: 3px solid transparent;
    transition: 100ms;

    &:hover {
        border: 3px solid $red;
    }
}

.simpl-btn {
    font-size: 14px;
    font-weight: 500;
    color: $black;
    text-align: center;
    padding: 1em;
    flex: 1;
    background-color: #fff;
    box-shadow: $shadow;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid transparent;
    text-decoration: none;

    &:hover {
        color: $blue;
    }

    &:not(:last-child) {
        margin-right: 1em;
    }


}




/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 6px;
    /* ширина для вертикального скролла */

    /* высота для горизонтального скролла */
    background-color: $lite-gray;
    border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: $blue;
    border-radius: 9em;

}

::-webkit-scrollbar-thumb:hover {
    background-color: $dark-blue;
}

.see-more-item {
    display: none;
}



*[class^="tag-btn"] {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: .5em 1.5em;
    display: inline-block;
    border-radius: 4px;
    text-decoration: none;
}
.tag-btn_blue {
    background-color: $blue;
}
.tag-btn_green {
    background-color: $green;
}

.masonry-grid__item {
    width: 25%;
    img {
        max-width: 100%;
        width: 100%;
    }
}



