$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199px;


$sizes: ("sm":575.98px, "md":767.98px, "lg":991.98px, "xl":1199.98px);

@mixin media($minmax, $media) {
	@each $size,
	$resolution in $sizes {
		@if $media == $size {
			@media only screen and (#{$minmax}-width: $resolution) {
				@content;
			} 
		}
	}
}


$main-font: 'TT Hoves', sans-serif;

$shadow: 0 1px 1px rgba(0,0,0,0.07), 0 2px 2px rgba(0,0,0,0.07), 0 2px 6px rgba(0,0,0,0.09);
$shadow-light: 0 1px 1px rgba(0,0,0,0.07), 0 2px 2px rgba(0,0,0,0.07);
$shadow-hover: 0 1px 1px rgba(85,119,255,0.2), 0 2px 2px rgba(85,119,255,0.2), 0 2px 6px rgba(85,119,255,0.2);


$gradient: linear-gradient(90deg, #38BAFE 0%, #5577FF 100%);

$blue: #5577FF;
$dark-blue: #3f54a9;
$black: #6E707C;
$green: #33BE6E;
$red: #E70618;
$lite-gray: #FAFAFA;

$white-light: rgba(255,255,255,0.5);

$mc: $blue;