@import 'vars';

.all-news-widget {
    margin-bottom: 15px;
    padding: 2em;
    .all-news-item-wrapper {
        
        padding-right: 20px;
    }
    .all-news-item {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
        
        @include media('max','md') {
            flex-direction: column;
        }
        &:not(:last-child){
            margin-bottom: 1em;
        }
        &__title {
            margin: 0;
            text-decoration: none;
            color: $black;
        }
        &__date {
            margin-right: 2em;
            color: $blue;
        }
        &:hover {
            .all-news-item__title {
                color: $blue;
            }
        }
    }



    &__btn {
        border: none;
        background-color: transparent;
        color: $blue;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    }
    .btn-wrapper {
        min-height: 1.4em;
    }
}