@import 'vars';


$indent: 30px;












.company-page {
    
    .title  {
        margin-bottom: 40px;
    }

    .image-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $indent;
       
        img {  
            max-width: 100%;
            width: 100%;
        }
        &__item {
            flex: 33.3%;
            padding: 0 5px;
            

          
            &_full {
                flex: 100%;
                margin-bottom: 10px;
            }
        }
    }

    .info-block {
        padding: 10px 36px;
        font-size: 14px;

        &__item {
            padding: 16px 0;
            border-bottom: 1px solid $lite-gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        &__title {
            margin-right: 0.5em;
        
        }
    }


    &__description {
        padding: 20px;
        margin-bottom: $indent;
    }

    
}