@import 'vars';
.main-menu {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    
    .mm-btn {
        position: relative;
        padding-bottom: 2em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        cursor: pointer;
        transition: 300ms;
        display: inline-block;
        
        &.colored-btn {

            .btn-icon {

                &::before {
                    content: '';
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $gradient;
                }
            }
        }

        &:hover svg {
            stroke-dashoffset: 0;
        }
    }
    .btn-icon {
        width: 70px;
        height: 70px;
        box-shadow: $shadow;
        border-radius: 8px;
        position: relative;
        background-color: #fff;
        margin: 0 auto;
        overflow: hidden;
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            stroke-dasharray: 255;
            stroke-dashoffset: 255;
            transition: 300ms ease-in-out;
            @include media('max', 'lg') {
                display: none;
            }
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
    .btn-title {
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        white-space: nowrap;

    }
    @include media('max','md') {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr;
    }
    @media screen and (max-width: 500px) {
        padding: 0 !important;
        .mm-btn {
            margin-left: 0.2em;
            margin-right: 0.2em;
            .btn-title {
                font-size: 13px;
            }
            .btn-icon {
                width: 60px;
                height: 60px;
            }

        }

    }
}