@import 'vars';

.simple-widget {
    padding: 1.2em 2em;
    margin-bottom: 15px;
    .widget-item {
        padding: 1em;
        margin-bottom: 15px;
        display: inline-block;
        text-decoration: none;
        color: $black;
        &__top-block{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 0.5em;
        }
        &__content {
            margin-bottom: .5em;
        }
        &__title {
            margin: 0;
        }
        &:hover {
            .widget-item__title {
                color: $blue;
            }
        }
    }
}