@import 'vars';

.top-company-widget {
    padding: 40px;
   

    &__title{
        margin-bottom: 40px;
    }
    .company-item {
        box-shadow: $shadow;
        display: block;
        border-radius: 8px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $black;
        

        &:not(:last-child) {
            margin-bottom: 30px;
            
        }
        &__img {
            margin-right: 20px;
        }

        &__title {
            text-transform: uppercase;
        }

        &:hover {
            .company-item__title {
                color: $blue;
            }
        }
    }

}