@import 'vars';

.top-news-widget {
    margin-bottom: 1em;
    color: $black;
    text-decoration: none;





    .main-news {
        position: relative;
        overflow: hidden;
      
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: $black;


        &__img {
            background-size: cover;
            background-position: center;
            padding-bottom: 300px;
            flex: 2;
        }
        &__text {
            flex: 1;
            padding: 1em 1em 2em 1em;
            position: relative;
        }
        &__title {
            margin: 0;
        }
        &__date {
            position: absolute;
            bottom: 10px;
            left: 15px;
            font-size: 12px;
        }

       


        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(79, 78, 78, 0.622569) 70.83%, rgba(0, 0, 0, 0.9) 100%);
            z-index: 998;
            transition: 300ms;
        }

        &:hover {
            .main-news__title {
                color: $red;
            }
        }

        @include media('max','md') {
            flex-direction: column;
        }
        @include media('max','sm') {
            &__img {
                
                padding-bottom: 200px;
               
            }
        }
    }









    .news-item-wrapper {
        display: flex;
        flex-direction: row;
        @include media('max','md') {
            flex-direction: column;
        }
            
    }

    .news-item {
        flex: 1;
        overflow: hidden;
        transition: 300ms;
        
        position: relative;
        padding-bottom: 2em;
        cursor: pointer;
        text-decoration: none;
        color: $black;
        @include media('min','md') {
            &:not(:last-child) {
                margin-right: 1em;
            }
        }
        

        &:hover {
            .news-item__title {
                color: $red;
            }

        }
        &__img {
            padding-bottom: 140px;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            @include media('max','md') {
                display: none;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }

        &__title {
            margin-top: 0;
            margin-bottom: .5em;
            font-size: 16px;
            
        }


        &__date {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1em;
            font-size: 12px;
        }

       
       
    }
}