@import 'vars';


.top-widgets {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media (min-width: $md) and (max-width: $lg){
        flex-direction: row;
        &__block {
            padding: 10px;
        }
    }
    &__block {
        flex: 1;
    }
    &__item-wrapper {
        min-height: 66px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        flex: 1;
    }
}

.exchange-rate-widget {
    display: flex;
    flex-direction: row;
    font-size: 14px;

    @include media ('max','lg') {
        flex-direction: column;
    }
    
    &__item {
        flex: 1;
        @include media('min', 'lg') {
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
    }

    &__value-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__title {
        margin: 0;
        text-align: center;
    }

    &__value-item {
        &:not(:last-child) {
            margin-right: .5em;
        }
    }
}

.covid-widget {
    font-size: 14px;

    .top-widgets__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    
 
    &__title {
        margin: 0;
    }
    
    &-item {
        margin: 0.5em;
    }
}

