.all-news-widget {
  margin-bottom: 15px;
  padding: 2em;
}
.all-news-widget .all-news-item-wrapper {
  padding-right: 20px;
}
.all-news-widget .all-news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1em;
}
@media only screen and (max-width: 767.98px) {
  .all-news-widget .all-news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.all-news-widget .all-news-item:not(:last-child) {
  margin-bottom: 1em;
}
.all-news-widget .all-news-item__title {
  margin: 0;
  text-decoration: none;
  color: #6E707C;
}
.all-news-widget .all-news-item__date {
  margin-right: 2em;
  color: #5577FF;
}
.all-news-widget .all-news-item:hover .all-news-item__title {
  color: #5577FF;
}
.all-news-widget__btn {
  border: none;
  background-color: transparent;
  color: #5577FF;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.all-news-widget .btn-wrapper {
  min-height: 1.4em;
}