.company-page .title {
  margin-bottom: 40px;
}
.company-page .image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.company-page .image-block img {
  max-width: 100%;
  width: 100%;
}
.company-page .image-block__item {
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  padding: 0 5px;
}
.company-page .image-block__item_full {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 10px;
}
.company-page .info-block {
  padding: 10px 36px;
  font-size: 14px;
}
.company-page .info-block__item {
  padding: 16px 0;
  border-bottom: 1px solid #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.company-page .info-block__title {
  margin-right: 0.5em;
}
.company-page__description {
  padding: 20px;
  margin-bottom: 30px;
}