.main-menu {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.main-menu .mm-btn {
  position: relative;
  padding-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  display: inline-block;
}
.main-menu .mm-btn.colored-btn .btn-icon::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#38BAFE), to(#5577FF));
  background: -o-linear-gradient(left, #38BAFE 0%, #5577FF 100%);
  background: linear-gradient(90deg, #38BAFE 0%, #5577FF 100%);
}
.main-menu .mm-btn:hover svg {
  stroke-dashoffset: 0;
}
.main-menu .btn-icon {
  width: 70px;
  height: 70px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07), 0 2px 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07), 0 2px 6px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
}
.main-menu .btn-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke-dasharray: 255;
  stroke-dashoffset: 255;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}
@media only screen and (max-width: 991.98px) {
  .main-menu .btn-icon svg {
    display: none;
  }
}
.main-menu .btn-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.main-menu .btn-title {
  position: absolute;
  top: 78%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: bold;
  white-space: nowrap;
}
@media only screen and (max-width: 767.98px) {
  .main-menu {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .main-menu {
    padding: 0 !important;
  }
  .main-menu .mm-btn {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
  .main-menu .mm-btn .btn-title {
    font-size: 13px;
  }
  .main-menu .mm-btn .btn-icon {
    width: 60px;
    height: 60px;
  }
}