.simple-widget {
  padding: 1.2em 2em;
  margin-bottom: 15px;
}
.simple-widget .widget-item {
  padding: 1em;
  margin-bottom: 15px;
  display: inline-block;
  text-decoration: none;
  color: #6E707C;
}
.simple-widget .widget-item__top-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0.5em;
}
.simple-widget .widget-item__content {
  margin-bottom: 0.5em;
}
.simple-widget .widget-item__title {
  margin: 0;
}
.simple-widget .widget-item:hover .widget-item__title {
  color: #5577FF;
}