.top-company-widget {
  padding: 40px;
}
.top-company-widget__title {
  margin-bottom: 40px;
}
.top-company-widget .company-item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07), 0 2px 6px rgba(0, 0, 0, 0.09);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07), 0 2px 2px rgba(0, 0, 0, 0.07), 0 2px 6px rgba(0, 0, 0, 0.09);
  display: block;
  border-radius: 8px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #6E707C;
}
.top-company-widget .company-item:not(:last-child) {
  margin-bottom: 30px;
}
.top-company-widget .company-item__img {
  margin-right: 20px;
}
.top-company-widget .company-item__title {
  text-transform: uppercase;
}
.top-company-widget .company-item:hover .company-item__title {
  color: #5577FF;
}