.top-widgets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .top-widgets {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .top-widgets__block {
    padding: 10px;
  }
}
.top-widgets__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.top-widgets__item-wrapper {
  min-height: 66px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.top-widgets__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.exchange-rate-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
}
@media only screen and (max-width: 991.98px) {
  .exchange-rate-widget {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.exchange-rate-widget__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (min-width: 991.98px) {
  .exchange-rate-widget__item:not(:last-child) {
    margin-right: 5px;
  }
}
.exchange-rate-widget__value-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.exchange-rate-widget__title {
  margin: 0;
  text-align: center;
}
.exchange-rate-widget__value-item:not(:last-child) {
  margin-right: 0.5em;
}

.covid-widget {
  font-size: 14px;
}
.covid-widget .top-widgets__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.covid-widget__title {
  margin: 0;
}
.covid-widget-item {
  margin: 0.5em;
}