.top-news-widget {
  margin-bottom: 1em;
  color: #6E707C;
  text-decoration: none;
}
.top-news-widget .main-news {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  color: #6E707C;
}
.top-news-widget .main-news__img {
  background-size: cover;
  background-position: center;
  padding-bottom: 300px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.top-news-widget .main-news__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1em 1em 2em 1em;
  position: relative;
}
.top-news-widget .main-news__title {
  margin: 0;
}
.top-news-widget .main-news__date {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 12px;
}
.top-news-widget .main-news__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70.83%, rgba(79, 78, 78, 0.622569)), to(rgba(0, 0, 0, 0.9)));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(79, 78, 78, 0.622569) 70.83%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(79, 78, 78, 0.622569) 70.83%, rgba(0, 0, 0, 0.9) 100%);
  z-index: 998;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.top-news-widget .main-news:hover .main-news__title {
  color: #E70618;
}
@media only screen and (max-width: 767.98px) {
  .top-news-widget .main-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 575.98px) {
  .top-news-widget .main-news__img {
    padding-bottom: 200px;
  }
}
.top-news-widget .news-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media only screen and (max-width: 767.98px) {
  .top-news-widget .news-item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.top-news-widget .news-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
  text-decoration: none;
  color: #6E707C;
}
@media only screen and (min-width: 767.98px) {
  .top-news-widget .news-item:not(:last-child) {
    margin-right: 1em;
  }
}
.top-news-widget .news-item:hover .news-item__title {
  color: #E70618;
}
.top-news-widget .news-item__img {
  padding-bottom: 140px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 767.98px) {
  .top-news-widget .news-item__img {
    display: none;
  }
}
.top-news-widget .news-item__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}
.top-news-widget .news-item__title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 16px;
}
.top-news-widget .news-item__date {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1em;
  font-size: 12px;
}